<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name
        <a href="AzureAD/Account/SignOut">Ausloggen</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>
