<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DailyMarket</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pendenz" >
                <span class="oi oi-task" aria-hidden="true"></span> Pendenzen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="anbieter">
                <span class="oi oi-people" aria-hidden="true"></span> Anbieter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="abotyp">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Abotyp
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mitarbeiter">
                <span class="oi oi-person" aria-hidden="true"></span> Mitarbeiter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="standort">
                <span class="oi oi-basket" aria-hidden="true"></span> Standort
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mitgliedeinstellung">
                <span class="oi oi-cog" aria-hidden="true"></span> Mitgliedeinstellungen
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
